{% extends "ourAdmin/base.html" %}
{% load static %}
{% load l10n %}

{% block content-bar %}{% endblock %}
{% block content %}

<section>
  <h3>{{Title}}</h3>

  <span><b>Status de la consulta:</b> {{status}}</span>
  
<!--
https://www.mercadopago.com.ar/developers/es/api-docs/custom-checkout/create-payments/
-->

{% if response %}
{% with response.collection as payment%}
<ul>
  <li>{{payment.id | unlocalize}}</li>
  <li>{{payment.date_created }}</li>
  <li>{{payment.date_approved }}</li>
  <li>
    {% with payment.payer as p%}
      <a href="#conf-part-{{payment.id| unlocalize}}" data-toggle="collapse">{{p.first_name}} {{p.last_name}}</a>
      <ul class="collapse" id="conf-part-{{payment.id| unlocalize}}">
        <li>ID: {{p.id| unlocalize}}</li>
        {% if p.email %}<li>Email: {{p.email}}</li>{% endif %}
        {% if p.phone %}<li>Telf.: {{p.phone}}</li>{% endif %}
      </ul>              
    {% endwith %}
  </li>
  <li>{{payment.transaction_amount}}</li>
  <li>{{payment.currency_id}}</li>
  <li>{{payment.payment_type}}</li>
  <li>{{payment.status}}</li>
</ul>

{% endwith %}
{% endif %}

</section>

{% endblock %}