{% extends "ourAdmin/base.html" %}
{% load static %}

{% block content-bar %}{% endblock %}
{% block content %}

<section>
  <h3>{{Title}}</h3>

  <span><b>Status de la consulta:</b> {{status}}</span>
  
<!--
https://www.mercadopago.com.ar/developers/es/api-docs/custom-checkout/create-payments/
-->

{% if payment %}

<ul>
  <li>{{response.id}}</li>
  <li>{{response.date_created|date:"d/m/Y" }}</li>
  <li>{{response.date_approved|date:"d/m/Y" }}</li>
  <li>
    {% with p as response.payer %}
      <a href="#conf-part-{{p.id}}" data-toggle="collapse">{{p.first_name}} {{p.last_name}}</a>
      <ul class="collapse" id="conf-part-{{p.id}}">
        <li>ID: {{p.id}}</li>
        {% if p.email %}<li>Email: {{p.email}}</li>{% endif %}
        {% if p.phone %}<li>Telf.: {{p.phone}}</li>{% endif %}
      </ul>              
    {% endwith %}
  </li>
  <li>{{response.transaction_amount}}</li>
  <li>{{response.currency_id}}</li>
  <li>{{response.payment_type_id}}</li>
  <li>{{response.status}}</li>
</ul>

{% endif %}

</section>

{% endblock %}