{% extends "ourAdmin/base.html" %}
{% load static %}

{% block custom_css %}
{% endblock %}

{% block content %}

<section>
  <h3>Buscar Orden</h3>

  <form method="post" accept-charset="utf-8" class="form-group" role="form" id="form-search" action="{% url 'OrderSearchAjax' %}">
    {% csrf_token %}
    <table >
      <tr>
        <td><b>Código de la orden  </b></td>
        <td><b>Estatus de la orden  </b></td>
      </tr>
      <tr>
        <td>
          <input type="text" name="id" maxlength="100" class="form-control" id="order_id">
        </td>
        <td>
          <input type="text" name="status" maxlength="100" class="form-control" id="order_status">
        </td>
      </tr>
    </table>
    <button type="button" class="btn" id="btn-submit"><i class="fa fa-check" aria-hidden="true"></i></button>
    <a href="{% url 'OrderCreate' %}">
      <button type="button" class="btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </a>
  </form>

  <table id="table-orders">
    
  </table>
</section>

{% endblock %}

{% block custom_script %}

<script>
  $( document ).on( 'submit', '#form-search', function(e){
      $.ajax({
        url : $( this ).attr( 'action' ),
        type : $( this ).attr( 'method' ),
        data : $( this ).serialize(), 
      })
      .done(function(data){
        var html = '';               
        //add order list to table if list's not empty
        if(data.length > 0){
          for (var i = 0; i < data.length; i++){
              html +='<tr>\
                        <td>'+data[i].pk+'</td><td><a href="/ourAdmin/ordermodify/'+data[i].pk+'">'+data[i].status+'</a></td>\
                      </tr>';
          }       
          $("#table-orders").html(html);
        }else{
          $("#table-orders").html('<tr><td>No se encontraron ordenes.</td></tr>');
        }
      })
      .fail(function( jqXHR, textStatus, errorThrown ){
        console.log("ERROR: ajax");
      });
      return false;
  });

  $(document).ready(function() {
      $("#btn-submit").click(function(){
        //verify that at least one field is filled
        if (document.getElementById("order_id").value != "" ||
            document.getElementById("order_status").value != "") {
          $("#form-search").submit();
        }else{
          $("#table-orders").html('<tr><td>Debe escribir un código o estatus.</td></tr>');
        }
      });
  });
</script>

{% endblock %}  