{% extends 'ourWeb/base.html' %}
{% load static %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static 'ourWeb/css/prod-show.css' %}" />
{% endblock %}

{% block extra_msg %}
<div id="cartmsg" class="alert alert-success cartmsg"></div>
<div id="carterror" class="alert alert-danger cartmsg"></div>
{% endblock %}

{% block content %}
<section>
  {% for obj in objs %}
    <div class="prod-show">
      {% if obj.image_1 %} 
      <div class="prod-show-image" style="background-image: url({{obj.image_1.url}});"></div>
      {% else %} 
      <div class="prod-show-image" style="background-image: url({% static 'image/no_image.jpg' %});"></div>
      {% endif %}

      <div class="prod-show-container">              
        <h3 class="prod-show-title">
          {{obj.name}}
        </h3>
        <span class="prod-show-desc">
          {{obj.desc}}
        </span>
        <div class="prod-show-amount">
          <span class="prod-show-price">Bs. {{obj.price}}</span> 
          {% if obj.get_tax1 > 0 %}
            <span class="prod-show-tax"> - IVA. {{obj.get_tax1}}</span>
          {% endif %}
        </div>
        <div class="prod-show-qty base-spinner">          
          <form method="post" accept-charset="utf-8" role="form" action="{% url 'ProdOrderAddUpdate' %}" class="form">        
            {% csrf_token %}
            <input type="hidden" name="prod" value="{{ obj.id }}">
            <input type="number" name="qty" min="0" max="999" value="0" step="1"> 
            <i class="fa fa-plus" aria-hidden="true" onclick="sendAjax($(this).parent());" role="button"></i>
          </form>
        </div> 
      </div>   
    </div>
  {% endfor %}

</section>
{% endblock %}

{% block custom_script %}
  <script>
    function sendAjax(obj){
      $.ajax({
        type: $(obj).attr('method'),
        url: $(obj).attr('action'),
        data: $(obj).serialize()
      })
      .done(function(data){
        if(data.success) {
          console.log(data.success);
          $('#cartmsg').html(data.msg);
          $('#cartmsg').show();
          $("#cartmsg").fadeTo(2000, 500).slideUp(500, function(){
            $("#cartmsg").slideUp(500);
          });
        }
        else{
          $('#carterror').html(data.error);
          $('#carterror').show();
          $("#carterror").fadeTo(2000, 500).slideUp(500, function(){
            $("#carterror").slideUp(500);
          });      
        }

      })
      .fail(function( jqXHR, textStatus, errorThrown ){
        console.log(errorThrown);
          $('#carterror').html('Error: Ha ocurrido un problema de comunicación con el servidor');
          $('#carterror').show();
          $("#carterror").fadeTo(2000, 500).slideUp(500, function(){
            $("#carterror").slideUp(500);
          });             
      })
      return false;
    };
  </script>
{% endblock %}