{% extends 'ourWeb/base.html' %}
{% load static %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static 'ourWeb/css/products.css' %}" />
  <link rel="stylesheet" href="{% static 'ourWeb/css/prod-detail.css' %}" />
{% endblock %}

{% block extra_msg %}
<div id="ajax-msg" class="alert alert-success base-msg"></div>
<div id="ajax-msg-error" class="alert alert-danger base-msg"></div>
{% endblock %}

{% block content %}
<div class="container prod-detail">
  <div class="row">
    <div class="col-md-5">      
      {% if obj.image_1 %} 
      <div class="product-image" style="background-image: url({{obj.image_1.url}});"></div>
      {% else %} 
      <div class="product-image" style="background-image: url({% static 'image/no_image.jpg' %});"></div>
      {% endif %}
    </div>
    <div class="col-md-7">
      <h2 class="product-title">{{obj.name}}</h2>
      <p>{{obj.desc}}</p>
      <p><b>Categoría: </b>{{obj.category.desc}}</p>
      <p><b>Clase: </b>{{obj.clase.desc}}</p>
      {% if obj.width %}
        <p><b>Ancho: </b>{{obj.width}}</p>
      {% endif %}
      {% if obj.height %}
        <p><b>Alto: </b>{{obj.height}}</p>
      {% endif %}
      {% if obj.length %}
        <p><b>Largo: </b>{{obj.length}}</p>
      {% endif %}

      <p><b>Vendedor: </b>{{obj.seller}}</p>
      <p><b>Antiguedad: </b>{{obj.createDate|date:"d/m/Y" }}</p>

      <p class="product-price">Bs. {{obj.price}} 
        {% if obj.get_tax > 0 %}
          <span class="product-tax"> - IVA. {{obj.get_tax}}</span>
        {% endif %}
      </p>
      <div class="base-spinner">          
        <form method="post" accept-charset="utf-8" role="form" action="{% url 'ProdOrderAddUpdate' %}" class="form">        
          {% csrf_token %}
          <input type="hidden" name="prod" value="{{ obj.id }}">
          <input type="number" name="qty" min="0" max="999" value="0" step="1"> 
          <i class="fa fa-plus" aria-hidden="true" onclick="sendAjax($(this).parent());" role="button"></i>
        </form>
      </div> 
    </div>
  </div>
</div>

{% endblock %}

{% block custom_script %}
  <script type="text/javascript" src="{% static 'js/send_ajax.js' %}"></script>
{% endblock %}