{% extends "base.html" %}
{% load adminTags %}

{% block title %}{% if Title %}{{Title}}{% else %}Auth{% endif %}{% endblock %}

{% block base_css %}
  {% block custom_css %}{% endblock %}
{% endblock %}

{% block msg %}
  {% for message in messages %}
    {% bootstrap_mt message.tags as btag %}
    <div class="alert alert-{{ btag }}">{{ message }}</div>
  {% endfor %}
{% endblock %}

{% block navbar %}{% endblock %}

{% block base_content %}
  {% block content %}{% endblock %}
{% endblock %}

{% block base_script %}
  {% block custom_script %}{% endblock %}
{% endblock %}
