body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 24px;
}

#ria-alert{
	margin-bottom: 0;
	z-index: 2000;
	position: fixed;
	width: 100%;
}

.errorlist{
	color: red;
}

.center{
	text-align: center;
}


#base-content form table{
    margin-bottom: 10px;
}

#base-content form table input,#base-content form table select{
    margin-bottom: 3px;
    margin-left: 2px;
}