@font-face{
    font-family: Cabin;
    src:url(cabin/Cabin-Regular.otf);
}

@font-face{    
    font-family: CabinBold;
    src:url(cabin/Cabin-Bold.otf);
}

body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 24px;
    font-family: "Cabin",Helvetica,sans-serif;
}
a:hover{
    text-decoration: none;
}
#base-content form table{
    margin-bottom: 10px;
}
#base-content form table input,#base-content form table select{
    margin-bottom: 3px;
    margin-left: 2px;
}
.errorlist{
    color: red;
}
.center{
    text-align: center;
}

/********** MESSAGE **********/
#base-alert,.base-msg{
    z-index: 1000;
    position: fixed;
    width: 100%; 
    border-color: transparent;
    border-radius: 0; 
}
#base-alert{
    margin-bottom: 0;
}
.base-msg{
    display:none;  
    opacity: 500;
}

/********** SPINNER **********/
.base-spinner input[type=number],
.base-spinner input[type=tel]{
    border: 1px solid #ccc;
    max-width: 110px;
    height: 36px;
    background-color: #fff;
    border-radius: 4px;
    padding-left: 10px;
}
.base-spinner:before, .base-spinner:after {
    display: block;
    position: absolute;
    width: 14px;
    height: 8px;
    line-height: 8px;
    background-color: #ccc;
    left: 136px;
    z-index: 1;
    font-size: 9px;
    text-align: center;
    pointer-events: none;
}

/********** DATATABLES **********/
.base-dt-content label{
    font-weight: normal;
}
.base-dt-content input, .base-dt-content select{
    display: inline-block;
}
.base-dt-content input{
    max-width: 100px;
}
.base-dt-content select{
    width: 70px;
    padding-left: 4px;
    padding-right: 4px;
}