{% extends "ourAdmin/base.html" %}
{% load static %}

{% block custom_css %}
{% endblock %}

{% block content-bar-list %}
  {% if pk %}
  <li class="active"><a href="#">Modificar</a></li>
  <li><a href="{% url 'ProdCreate' %}">Crear</a></li>
  {% else %}
  <li class="active"><a href="#">Crear</a></li>
  {% endif %}
  <li><a href="{% url 'ProdSearch' %}">Buscar</a></li>
{% endblock %}

{% block content %}

<section>
  <h3>{{Title}}</h3>

  <form id = "productform" method="post" accept-charset="utf-8" class="form-group" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {% for field in form %}
      <tr><th>
        {{ field.label_tag }}</th><td> 
        {%if forloop.counter > 12 %}
          <img id="img{{ field.auto_id }}" src='{% if field.value %} /media/{{field.value}} {% else %} "" {% endif %}' alt="" style = "max-width:450px; max-height:200px;"> 
          <br>
          {%if forloop.counter > 13 and field.value %}
            <input name="{{field.name}}-clear" id="{{field.name}}-clear_id" type="checkbox">
            <label for="{{field.name}}-clear_id">Limpiar</label>
          {% endif %}          
          <input name="{{field.name}}" class="image valid" id="{{ field.auto_id }}" aria-invalid="false" type="file">
        {% else %}
        {{ field }}
        {% endif %}
          <span class="error" id="{{ field.name }}-icon"></span>
          <span class='error' id='{{field.name}}-error' aria-live="polite">{{ field.errors }}</span>
      </td></tr>
    {% endfor %}
    </table>
    <button type="submit" class="btn" title="Guardar"><i class="fa fa-check" aria-hidden="true"></i></button>
    {% if pk %}
      <button type="button" id="btn-delete" class="btn" title="Eliminar"><i class="fa fa-trash" aria-hidden="true"></i></button>
    {% endif%}
  </form>
</section>

{% endblock %}

{% block custom_script %}
<script type="text/javascript">
  $(document).ready(function() {
      //Image preview
      $(".image").on('change', function() {
        var preview = document.querySelector('#img'+this.id);
        var reader  = new FileReader();

        reader.onloadend = function () {
          preview.src = reader.result;
        }

        if (this.files[0]) {
          reader.readAsDataURL(this.files[0]);
        } else {
          preview.src = "";
        }        
      })    

  $( "#productform" ).validate();

  });
</script>
{% if pk %}
<script>
  $(document).ready(function() {
      $("#btn-delete").click(function(){
        $.ajax({
          data : {'pk': '{{pk}}', csrfmiddlewaretoken: '{{ csrf_token }}'},
          url : '/ourAdmin/proddeleteajax/',
          type : 'POST',     
          success : function(data){
            console.log(data);
            if(data.deleted == 1){
              window.location.href = "{% url 'ProdSearch' %}";
            }else{
              location.reload();
            }
          },
          error : function(data){
            console.log("ERROR: Prod delete ajax ");
          }
        });
      });
  });
</script>
{% endif %}

{% endblock %} 