#sidebar{
    margin: 0;
    border-radius: 0;
    background-color: #5193B6;
    height: 100%;
    width: 100%;
    max-width: 220px;
    position: fixed;
    font-size: 13px;
    padding-top: 20px;
    overflow-y : auto; 
}
#sidebar .panel-group .panel{
    border: none;
    border-radius: 0;
}
#sidebar .panel-default > .panel-heading, #sidebar .panel{
    background-color: #5193B6;
    color: #fff;
}
#sidebar .panel-title{
    font-size: 14px;
}
#sidebar .panel-title a i{
    margin-right: 10px;
}
#sidebar .panel-body{
    padding: 0;
}
#sidebar .list-group-item{
    border:0;
    background-color: #357DA3;
    color:#fff;
}
#sidebar .panel-heading,#sidebar .list-group-item{
    padding: 10px 24px;
}
#sidebar .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border-top: 0;
}

.sidebar-user{
    font-size: 14px;
    color: #fff;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}
.sidebar-user .no-image{
    background-color: #B9B9B9;
    height: 60px;
}
.sidebar-user img,.sidebar-user .no-image{
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 60px;
    -webkit-box-shadow: 0px 4px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px -4px rgba(0,0,0,0.75);
}