{% extends "base.html" %}
{% load adminTags static %}

{% block title %}{% if Title %}{{Title}}{% else %}Admin{% endif %}{% endblock %}

{% block base_css %}
  <link rel="stylesheet" href="{% static 'ourAdmin/css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'ourAdmin/css/sidebar.css' %}" />

  {% block custom_css %}{% endblock %}
{% endblock %}

{% block msg %}
{% for message in messages %}
    {% bootstrap_mt message.tags as btag %}
    <div id="bo-alert" class="alert alert-{{ btag }}">{{ message }}</div>
{% endfor %}
{% endblock %}

{% block navbar %}
  {% include "ourAdmin/navbar.html" %}
  {% if user.is_authenticated %}
    {% include "ourAdmin/sidebar.html" %}
  {% endif %}
{% endblock %}

{% block base_content %}
  <div id="bo-content">
    <!--
    { % block content-bar %}  
      <nav class="bo-content-bar navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            { % block content-bar-list %}   
            { % endblock %}
          </ul>          
          <ul class="nav navbar-nav navbar-right">
            {% block content-bar-list-right %}   
            {% endblock %}
          </ul>
        </div>
      </nav>  
    { % endblock %}
    -->

    <div id="bo-content-body">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}


{% block base_script %}
  <script type="text/javascript">
    $(document).ready(function() {
      
      //Mensaje de alerta 
      $("#bo-alert").fadeTo(2000, 500).slideUp(500, function(){
        $("#bo-alert").slideUp(500);
      });
    });
  </script>

  {% block custom_script %}{% endblock %}

{% endblock %}
