{% extends "base.html" %}
{% load adminTags static %}

{% block title %}{% if Title %}{{Title}}{% else %}Admin{% endif %}{% endblock %}

{% block base_css %}
  <link rel="stylesheet" href="{% static 'ourAdmin/css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'ourAdmin/css/sidebar.css' %}" />

  {% block custom_css %}{% endblock %}
{% endblock %}

{% block msg %}
{% for message in messages %}
    {% bootstrap_mt message.tags as btag %}
    <div id="base-alert" class="alert alert-{{ btag }}">{{ message }}</div>
{% endfor %}
{% endblock %}

{% block base_navbar %}
  {% if user.is_authenticated %}
    {% include "ourAdmin/sidebar.html" %}
  {% endif %}
{% endblock %}

{% block base_content %}
  <div id="base-content">
    {% block content-bar %}  
      <nav class="base-content-bar navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            {% block content-bar-list %}{% endblock %}
          </ul>          
          <ul class="nav navbar-nav navbar-right">
            {% block content-bar-list-right %}{% endblock %}
          </ul>
        </div>
      </nav>  
    {% endblock %}

    <div id="base-content-body">
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block base_script %}

  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
        window.location = $(this).data("href");
      });
    });
  </script>

  {% block custom_script %}{% endblock %}

{% endblock %}
