<nav class="navbar navbar-inverse navbar-fixed-top bo-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RIA</a>
    </div>

    <ul class="nav navbar-nav">  
      {% if request.path == "/" %} 
      <li class="active"> {% else %} <li> 
      {% endif %}
        <a href="{% url 'home' %}">Home</a>
      </li>

      {% if user.is_staff or user.is_superuser %}
        {% if request.path == "/ourAdmin/" %} 
        <li class="active"> {% else %} <li> 
        {% endif %}
          <a href="{% url 'ourAdmin' %}">Admin</a>
        </li>
      {% endif %}    
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><a  class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.username}}
          <i class="fa fa-user" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'ManageAddress' %}">Editar direcciones</a></li>        
          <li><a href="{% url 'change_password' %}">Cambiar contraseña</a></li>
        </ul>
      </li>

      <li><a href="{% url 'OrderUserShow' %}">Carrito <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
      <li><a href="{% url 'logout' %}">Cerrar session</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
      <li><a href="{% url 'signup' %}">Registrarse</a></li>
      {% endif %}
    </ul>
  </div>
</nav>