{% extends 'ourAuth/base.html' %}

{% block title %}Recuperacion contraseña{% endblock %}

{% block content %}
  {% if validlink %}

    <h3>Introduce tus datos</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn">Cambiar contraseña</button>
    </form>
    
  {% else %}

    <h1>Cambio de contraseña errado</h1>
    <p>El link de cambio de contraseña es invalido, posiblemente ya ha sido utilizado.</p>
    
  {% endif %}
{% endblock %}
