body{
	background-color: #F9F9F9;
}
#base-content{  
    padding-top: 10px;
}
#base-content-body{
    max-width: 94%;
    margin: auto;
}
#myModal .modal-title,#myModal .modal-footer{
	text-align: center;
}