body{
	background-color: #F9F9F9;
}
#base-content{  
    padding-top: 4px;
}
#base-content-body{
    max-width: 90%;
    margin: auto;
}
.cartmsg{
	display:none;
	position: fixed;
	width: 100%;	
	opacity: 500;
}