.product{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin:5px;
	background-color: #F5F5F5;
}
.product-image{
	width: 90%;
    height: 200px;
    overflow: hidden;
    margin: auto;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.product-container{
	width: 90%;
	margin: auto;
}
.product-title{
	color:#0A3578;
	margin-bottom: 4px;
}
a .product-title:hover{
	color:#1E1C1C;
}
.product-price{
	color:#0A3578;
	font-size: 20px;
}
.product-tax{
	color:#959595;
	font-size: 16px;
}
.product-amount,.product-qty{
	text-align: center;
}
.product-desc{
	width: 100%;
	overflow: hidden;
	white-space: nowrap; /* Don't forget this one */
	text-overflow: ellipsis;
}