{% extends "ourAdmin/base.html" %}
{% load static %}

{% block custom_css %}
{% endblock %}

{% block content-bar-list %}
  <li><a href="{% url 'AddressCreate' %}">Crear</a></li>
  <li class="active"><a href="#">Buscar</a></li>
{% endblock %}

{% block content %}

<section>
  <h3>{{Title}}</h3>

  <form method="post" accept-charset="utf-8" class="form-group" role="form" id="form-search" action="{% url 'AddressSearchAjax' %}">
    {% csrf_token %}
    <div class="div-inline-search">
      <b>Estado  </b> <br>
      <select id="address_state" name="state" class="form-control">
        <option  value="" selected="selected">---------</option>
        {% for s in states %}
          <option value="{{s.id}}"> {{s.get_desc}} </option>
        {% endfor %}
      </select>
    </div>

    <div class="div-inline-search">
      <b>Dirección  </b> <br>
      <input type="text" name="dir" maxlength="100" class="form-control" id="address_dir">
    </div>

    <div class="div-inline-search">
      <button type="button" class="btn" id="btn-submit" title="Buscar"><i class="fa fa-check" aria-hidden="true"></i></button>
      <a href="{% url 'AddressCreate' %}">
        <button type="button" class="btn" title="Agregar"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </a>
    </div>
  </form>

  <table id="table-address" class="table"></table>
</section>

{% endblock %}

{% block custom_script %}

<script>
  $( document ).on( 'submit', '#form-search', function(e){
      $.ajax({
        url : $( this ).attr( 'action' ),
        type : $( this ).attr( 'method' ),
        data : $( this ).serialize(), 
      })
      .done(function(data){
        var html = '<tr><th>ID</th><th>Dirección</th><th></th></tr>';               
        //add order list to table if list's not empty
        if(data.length > 0){
          for (var i = 0; i < data.length; i++){
              html += '<tr class="clickable-row activar-cursor" data-href="/ourAdmin/addressmodify/'+data[i].pk+'">\
                        <td>'+data[i].pk+'</td>\
                        <td>'+data[i].addr+'</td>\
                        <td><a href="/ourAdmin/addressmodify/'+data[i].pk+'"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>\
                       </tr>';
          }       
          $("#table-address").html(html);
        }else{
          $("#table-address").html('<tr><td>No se encontraron direcciones.</td></tr>');
        }
      })
      .fail(function( jqXHR, textStatus, errorThrown ){
        console.log("ERROR: ajax");
      });
      return false;
  });

  $(document).ready(function() {
      $("#btn-submit").click(function(){
        //verify that at least one field is filled
        if (document.getElementById("address_state").value != "" ||
            document.getElementById("address_dir").value != "") {
          $("#form-search").submit();
        }else{
          $("#table-address").html('<tr><td>Debe escribir un estado o direccion para poder realizar la búsqueda.</td></tr>');
        }
      });
  });
</script>

{% endblock %}  